<h2 [ngStyle]="{color:'blue'}" class="mt-4">Liste des taches</h2>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of toDos, let i = index">
    <div [ngClass]="{encours:todo.todoStatus,terminee:!todo.todoStatus}">
      <a href="">
        <img [src]="todo.image">
      </a>{{ todo.todoName | uppercase}}
      <button class="btn btn-secondary m-1" [disabled]="todo.todoStatus" (click)="onChangeStatus(i)">En cours</button>
      <button class="btn btn-success m-1" [disabled]="!todo.todoStatus" (click)="onChangeStatus(i)">Terminée</button>


      <!--Action de modif-->
      <button class="btn btn-danger m-1"  *ngIf="!todo.isModif" (click)="onModif(i)">Modifier</button>
      <button class="btn btn-success m-1"  *ngIf="todo.isModif" (click)="onModif(i)">Modification terminée</button>

      <input *ngIf="todo.isModif" class="form-control"type="text" [(ngModel)]="todo.todoName">

    </div>
    </li>
</ul>
